[Unit]
Description=Regular background program processing daemon
Documentation=man:cron(8)

[Service]
EnvironmentFile=-/etc/default/cron
ExecStart=/usr/sbin/cron -f -L 4
IgnoreSIGPIPE=false
KillMode=process

[Install]
WantedBy=multi-user.target
